{% extends 'base.html.twig' %}

{% set page_id = 'index' %}
{% set title = 'Commercify - Self Hosted' %}
{% set description = 'Commercify Self Hosted is a powerful e-commerce web framework to develop full featured online stores.' %}
{% set indexBySearchEngines = true %}

{% block content %}
    <h1>Commercify Self Hosted</h1>
{% endblock %}
